<section class="events">
  <div class="w-50 mx-auto p-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="loc1-tab" data-toggle="tab" href="#loc1" role="tab" aria-controls="loc1"
          aria-selected="true">Cairo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="loc2-tab" data-toggle="tab" href="#loc2" role="tab" aria-controls="loc2"
          aria-selected="false">Alexandria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="loc3-tab" data-toggle="tab" href="#loc3" role="tab" aria-controls="contact"
          aria-selected="false">Al-Gharbia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="loc4-tab" data-toggle="tab" href="#loc4" role="tab" aria-controls="loc4"
          aria-selected="true">Al-Beheira</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="loc5-tab" data-toggle="tab" href="#loc5" role="tab" aria-controls="loc5"
          aria-selected="true">Qena</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="loc6-tab" data-toggle="tab" href="#loc6" role="tab" aria-controls="loc6"
          aria-selected="true">Dakahlia</a>
      </li>
    </ul>
  </div>


  <div class="container-fluid tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="loc1" role="tabpanel" aria-labelledby="loc1-tab">
      <div class="row m-3 justify-content-center" id="locations">
        <div class="col-md-4">
          <div class="card border-0" style="width: 18rem;">
            <img src="../../assets/images/40621677_l.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Egyptian Red Crescent - ERC</h5>
              <p class="text-muted">egyptianrc.org</p>
              <p class="card-text"><span><i class='fas fa-map-marker-alt'></i>&nbsp;&nbsp;</span> CAIRO, EL AZBAKEYA، Al
                Gayarah, Azbakeya, Cairo Governorate, Egypt</p>
              <p class="card-text"><span><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;</span> +20 2 25761587</p>
              <p class="card-text"><span class="fas"><i class="far fa-clock"></i>&nbsp;&nbsp;</span> Open Seven days for
                24 hours</p>
            </div>
            <div class="card-body">
              <a href="register.html" class="btn btn-danger">Send Request</a>
              <a href="#" class="btn btn-white border border-dark direction" data-toggle="modal"
                data-target="#geoLoc2">Direction</a>
              <div class="modal fade" id="geoLoc2" tabindex="-1" role="dialog" aria-labelledby="geoLoc2Label"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="mapouter">
                        <div class="gmap_canvas"><iframe class="w-100" height="500" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=CAIRO%2C%20EL%20AZBAKEYA%D8%8C%20Al%20Gayarah%2C%20Azbakeya%2C%20Cairo%20Governorate%2C%20Egypt&t=k&z=11&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                        <style>
                          .mapouter {
                            position: relative;
                            text-align: right;
                          }

                          .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                          }

                        </style>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0" style="width: 18rem;">
            <img src="../../assets/images/blood-donation-vector-concept_42053-282.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">National Blood Bank Center</h5>
              <p class="text-muted">The National Center for Blood Transfusion Services</p>
              <p class="card-text"><span><i class='fas fa-map-marker-alt'></i>&nbsp;&nbsp;</span> 51 Wezaret El Zeraa
                St.، Al Agouzah, GIZA، Giza Governorate, Egypt</p>
              <p class="card-text"><span><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;</span> +20 2 37611111</p>
              <p class="card-text"><span class="fas"><i class="far fa-clock"></i>&nbsp;&nbsp;</span> Open Seven days for
                24 hours</p>
            </div>
            <div class="card-body">
              <a href="register.html" class="btn btn-danger">Send Request</a>
              <a href="#" class="btn btn-white border border-dark direction" data-toggle="modal"
                data-target="#geoLoc2">Direction</a>
              <div class="modal fade" id="geoLoc2" tabindex="-1" role="dialog" aria-labelledby="geoLoc2Label"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="mapouter">
                        <div class="gmap_canvas"><iframe class="w-100" height="500px" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=51%20Wezaret%20El%20Zeraa%20St.%D8%8C%20Al%20Agouzah%2C%20GIZA%D8%8C%20Giza%20Governorate%2C%20Egypt&t=k&z=11&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                        <style>
                          .mapouter {
                            position: relative;
                            text-align: center;
                          }

                          .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                          }

                        </style>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0" style="width: 18rem;">
            <img src="../../assets/images//40621677_l.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">The main blood - Bank of Ain Shams</h5>
              <p class="text-muted">The main blood - Bank of Ain Shams</p>
              <p class="card-text"><span><i class='fas fa-map-marker-alt'></i>&nbsp;&nbsp;</span> ممر خاص مستشفى
                الدمرداش، Al Abbaseyah Al Qebleyah, Al Waili, Cairo Governorate, Egypt</p>
              <p class="card-text"><span><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;</span> Not available</p>
              <p class="card-text"><span class="fas"><i class="far fa-clock"></i>&nbsp;&nbsp;</span> Open Seven days for
                24 hours</p>
            </div>
            <div class="card-body">
              <a href="register.html" class="btn btn-danger">Send Request</a>
              <a href="#" class="btn btn-white border border-dark direction" data-toggle="modal"
                data-target="#geoLoc3">Direction</a>
              <div class="modal fade" id="geoLoc3" tabindex="-1" role="dialog" aria-labelledby="geoLoc3Label"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="mapouter">
                        <div class="gmap_canvas"><iframe class="w-100" height="500" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=%D9%85%D9%85%D8%B1%20%D8%AE%D8%A7%D8%B5%20%D9%85%D8%B3%D8%AA%D8%B4%D9%81%D9%89%20%D8%A7%D9%84%D8%AF%D9%85%D8%B1%D8%AF%D8%A7%D8%B4%D8%8C%20Al%20Abbaseyah%20Al%20Qebleyah%2C%20Al%20Waili%2C%20Cairo%20Governorate%2C%20Egypt&t=k&z=11&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                        <style>
                          .mapouter {
                            position: relative;
                            text-align: right;
                          }

                          .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                          }

                        </style>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane fade show" id="loc2" role="tabpanel" aria-labelledby="loc2-tab">
      <div class="row m-3 justify-content-center" id="locations">
        <div class="col-md-4">
          <div class="card border-0" style="width: 18rem;">
            <img src="../../assets/images/blood-donation_36722-281.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Alexandria Regional Blood Transfusion Center</h5>
              <p class="text-muted">ش عبد القادر ابو عقدة، كوم الدكة شرق، قسم العطارين، الإسكندرية</p>
              <p class="card-text"><span><i class='fas fa-map-marker-alt'></i>&nbsp;&nbsp;</span> ش عبد القادر ابو عقدة،
                Kom Ad Dakah Sharq, Ataren, Alexandria Governorate, Egypt</p>
              <p class="card-text"><span><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;</span> +20 3 4951963</p>
              <p class="card-text"><span class="fas"><i class="far fa-clock"></i>&nbsp;&nbsp;</span> Open Seven days for
                24 hours</p>
            </div>
            <div class="card-body">
              <a href="register.html" class="btn btn-danger">Send Request</a>
              <a href="#" class="btn btn-white border border-dark direction" data-toggle="modal"
                data-target="#geoLoc2-first">Direction</a>
              <div class="modal fade" id="geoLoc2-first" tabindex="-1" role="dialog"
                aria-labelledby="geoLoc2-firstLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="mapouter">
                        <div class="gmap_canvas"><iframe class="w-100" height="500" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=%D8%B4%20%D8%B9%D8%A8%D8%AF%20%D8%A7%D9%84%D9%82%D8%A7%D8%AF%D8%B1%20%D8%A7%D8%A8%D9%88%20%D8%B9%D9%82%D8%AF%D8%A9%D8%8C%20Kom%20Ad%20Dakah%20Sharq%2C%20Ataren%2C%20Alexandria%20Governorate%2C%20Egypt&t=k&z=11&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                        <style>
                          .mapouter {
                            position: relative;
                            text-align: right;
                          }

                          .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                          }

                        </style>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0" style="width: 18rem;">
            <img src="../../assets/images/blood-donation_36722-281.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Alexandria Regional Blood Transfusion Center</h5>
              <p class="text-muted">ش عبد القادر ابو عقدة، كوم الدكة شرق، قسم العطارين، الإسكندرية</p>
              <p class="card-text"><span><i class='fas fa-map-marker-alt'></i>&nbsp;&nbsp;</span> ش عبد القادر ابو عقدة،
                Kom Ad Dakah Sharq, Ataren, Alexandria Governorate, Egypt</p>
              <p class="card-text"><span><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;</span> +20 3 4951963</p>
              <p class="card-text"><span class="fas"><i class="far fa-clock"></i>&nbsp;&nbsp;</span> Open Seven days for
                24 hours</p>
            </div>
            <div class="card-body">
              <a href="register.html" class="btn btn-danger">Send Request</a>
              <a href="#" class="btn btn-white border border-dark direction" data-toggle="modal"
                data-target="#geoLoc2-first">Direction</a>
              <div class="modal fade" id="geoLoc2-first" tabindex="-1" role="dialog"
                aria-labelledby="geoLoc2-firstLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="mapouter">
                        <div class="gmap_canvas"><iframe class="w-100" height="500" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=%D8%B4%20%D8%B9%D8%A8%D8%AF%20%D8%A7%D9%84%D9%82%D8%A7%D8%AF%D8%B1%20%D8%A7%D8%A8%D9%88%20%D8%B9%D9%82%D8%AF%D8%A9%D8%8C%20Kom%20Ad%20Dakah%20Sharq%2C%20Ataren%2C%20Alexandria%20Governorate%2C%20Egypt&t=k&z=11&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                        <style>
                          .mapouter {
                            position: relative;
                            text-align: right;
                          }

                          .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                          }

                        </style>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0" style="width: 18rem;">
            <img src="../../assets/images/blood-donation_36722-281.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Alexandria Regional Blood Transfusion Center</h5>
              <p class="text-muted">ش عبد القادر ابو عقدة، كوم الدكة شرق، قسم العطارين، الإسكندرية</p>
              <p class="card-text"><span><i class='fas fa-map-marker-alt'></i>&nbsp;&nbsp;</span> ش عبد القادر ابو عقدة،
                Kom Ad Dakah Sharq, Ataren, Alexandria Governorate, Egypt</p>
              <p class="card-text"><span><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;</span> +20 3 4951963</p>
              <p class="card-text"><span class="fas"><i class="far fa-clock"></i>&nbsp;&nbsp;</span> Open Seven days for
                24 hours</p>
            </div>
            <div class="card-body">
              <a href="register.html" class="btn btn-danger">Send Request</a>
              <a href="#" class="btn btn-white border border-dark direction" data-toggle="modal"
                data-target="#geoLoc2-first">Direction</a>
              <div class="modal fade" id="geoLoc2-first" tabindex="-1" role="dialog"
                aria-labelledby="geoLoc2-firstLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="mapouter">
                        <div class="gmap_canvas"><iframe class="w-100" height="500" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=%D8%B4%20%D8%B9%D8%A8%D8%AF%20%D8%A7%D9%84%D9%82%D8%A7%D8%AF%D8%B1%20%D8%A7%D8%A8%D9%88%20%D8%B9%D9%82%D8%AF%D8%A9%D8%8C%20Kom%20Ad%20Dakah%20Sharq%2C%20Ataren%2C%20Alexandria%20Governorate%2C%20Egypt&t=k&z=11&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                        <style>
                          .mapouter {
                            position: relative;
                            text-align: right;
                          }

                          .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                          }

                        </style>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane fade show" id="loc3" role="tabpanel" aria-labelledby="loc3-tab">
      <div class="row m-3 justify-content-center" id="locations">
        <div class="col-md-4">
          <div class="card border-0" style="width: 18rem;">
            <img src="../../assets/images/blood-donation_36722-281.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Blood Bank</h5>
              <p class="text-muted">Abou Heshmat, طنطا (قسم 2)، طنطا، الغربية</p>
              <p class="card-text"><span><i class='fas fa-map-marker-alt'></i>&nbsp;&nbsp;</span> Abou Heshmat, Tanta
                Qism 2, Tanta, Gharbia Governorate, Egypt</p>
              <p class="card-text"><span><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;</span> Not available</p>
              <p class="card-text"><span class="fas"><i class="far fa-clock"></i>&nbsp;&nbsp;</span> Open Seven days for
                24 hours</p>
            </div>
            <div class="card-body">
              <a href="register.html" class="btn btn-danger">Send Request</a>
              <a href="#" class="btn btn-white border border-dark direction" data-toggle="modal"
                data-target="#geoLoc3-first">Direction</a>
              <div class="modal fade" id="geoLoc3-first" tabindex="-1" role="dialog"
                aria-labelledby="geoLoc3-firstLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="mapouter">
                        <div class="gmap_canvas"><iframe class="w-100" height="500" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=Abou%20Heshmat%2C%20Tanta%20Qism%202%2C%20Tanta%2C%20Gharbia%20Governorate%2C%20Egypt&t=k&z=11&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                        <style>
                          .mapouter {
                            position: relative;
                            text-align: right;
                          }

                          .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                          }

                        </style>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





    <div class="tab-pane fade show" id="loc4" role="tabpanel" aria-labelledby="loc4-tab">
      <div class="row m-3 justify-content-center" id="locations">
        <div class="col-md-4">
          <div class="card border-0" style="width: 18rem;">
            <img src="../../assets/images/blood-donation_36722-281.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">بنك الدم - مستشفى عام</h5>
              <p class="text-muted">mohp.gov.eg</p>
              <p class="card-text"><span><i class='fas fa-map-marker-alt'></i>&nbsp;&nbsp;</span> شبرا، قسم دمنهور،، El
                Beheira Governorate, Egypt</p>
              <p class="card-text"><span><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;</span> +20 45 3314489</p>
              <p class="card-text"><span class="fas"><i class="far fa-clock"></i>&nbsp;&nbsp;</span> Open Seven days for
                24 hours</p>
            </div>
            <div class="card-body">
              <a href="register.html" class="btn btn-danger">Send Request</a>
              <a href="#" class="btn btn-white border border-dark direction" data-toggle="modal"
                data-target="#geoLoc4-first">Direction</a>
              <div class="modal fade" id="geoLoc4-first" tabindex="-1" role="dialog"
                aria-labelledby="geoLoc4-firstLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="mapouter">
                        <div class="gmap_canvas"><iframe class="w-100" height="500" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=%D8%B4%D8%A8%D8%B1%D8%A7%D8%8C%20%D9%82%D8%B3%D9%85%20%D8%AF%D9%85%D9%86%D9%87%D9%88%D8%B1%D8%8C%D8%8C%20El%20Beheira%20Governorate%2C%20Egypt&t=k&z=11&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                        <style>
                          .mapouter {
                            position: relative;
                            text-align: right;
                          }

                          .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                          }

                        </style>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="tab-pane fade show" id="loc5" role="tabpanel" aria-labelledby="loc5-tab">
      <div class="row m-3 justify-content-center" id="locations">
        <div class="col-md-4">
          <div class="card border-0" style="width: 18rem;">
            <img src="../../assets/images/blood-donation_41050-2173.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">المركز الاقليمى لخدمات نقل الدم بقنا</h5>
              <p class="text-muted">blood-bank-12.business.site</p>
              <p class="card-text"><span><i class='fas fa-map-marker-alt'></i>&nbsp;&nbsp;</span> Unnamed Road, قسم
                قنا،، Qena Governorate, Egypt</p>
              <p class="card-text"><span><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;</span> +20 96 3344842</p>
              <p class="card-text"><span class="fas"><i class="far fa-clock"></i>&nbsp;&nbsp;</span> Open Seven days for
                24 hours</p>
            </div>
            <div class="card-body">
              <a href="register.html" class="btn btn-danger">Send Request</a>
              <a href="#" class="btn btn-white border border-dark direction" data-toggle="modal"
                data-target="#geoLoc5-first">Direction</a>
              <div class="modal fade" id="geoLoc5-first" tabindex="-1" role="dialog"
                aria-labelledby="geoLoc5-firstLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="mapouter">
                        <div class="gmap_canvas"><iframe class="w-100" height="500" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=Unnamed%20Road%2C%20%D9%82%D8%B3%D9%85%20%D9%82%D9%86%D8%A7%D8%8C%D8%8C%20Qena%20Governorate%2C%20Egypt&t=k&z=11&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                        <style>
                          .mapouter {
                            position: relative;
                            text-align: right;
                          }

                          .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                          }

                        </style>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane fade show" id="loc6" role="tabpanel" aria-labelledby="loc6-tab">
      <div class="row m-3 justify-content-center" id="locations">
        <div class="col-md-4">
          <div class="card border-0" style="width: 18rem;">
            <img src="../../assets/images/vector-set-blood-donation_60352-2301.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Blood Bank Mansoura Sheikh Hassanein</h5>
              <p class="text-muted">رقم 1، المنصورة (قسم 2)، المنصورة، الدقهلية</p>
              <p class="card-text"><span><i class='fas fa-map-marker-alt'></i>&nbsp;&nbsp;</span> Street 1, Mansoura
                Qism 2, Mansoura, Dakahlia Governorate, Egypt</p>
              <p class="card-text"><span><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;</span> +20 50 2396781</p>
              <p class="card-text"><span class="fas"><i class="far fa-clock"></i>&nbsp;&nbsp;</span> Open Seven days for
                24 hours</p>
            </div>
            <div class="card-body">
              <a href="register.html" class="btn btn-danger">Send Request</a>
              <a href="#" class="btn btn-white border border-dark direction" data-toggle="modal"
                data-target="#geoLoc6-first">Direction</a>
              <div class="modal fade" id="geoLoc6-first" tabindex="-1" role="dialog"
                aria-labelledby="geoLoc6-firstLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="mapouter">
                        <div class="gmap_canvas"><iframe class="w-100" height="500" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=Street%201%2C%20Mansoura%20Qism%202%2C%20Mansoura%2C%20Dakahlia%20Governorate%2C%20Egypt&t=k&z=11&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                        <style>
                          .mapouter {
                            position: relative;
                            text-align: right;
                          }

                          .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                          }

                        </style>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
