<section class="about_banner d-flex align-items-center">
  <h2 class="text-light font-weight-bold">Who we are</h2>
</section>

<section class="help_way d-flex">
  <div class="help_details w-50">
    <span class="text-uppercase">who we are</span>
    <h2 class="mb-5">Ways to help</h2>
    <p class="w-75 mb-5">
      Blood Center is public donation center with blood donation members in the changing health care system. Founded in
      1978, Blood Center is one of the nation’s oldest and largest nonprofit transfusion medicine organizations. We
      provide a blood and volunteer services across the US. With our national footprint, deep community roots and
      specialized services, we are the thread that connects people and resources together to fuel progress in
      transfusion medicine.
    </p>
    <div class="help_list d-flex ml-3">
      <ul class="list-unstyled">
        <li>Inspiring people to give blood</li>
        <li>Specialist blood donors and clinical supervision.</li>
        <li>Producing a safe and ready blood supply</li>
      </ul>
      <ul class="list-unstyled">
        <li>Increasing communication with our members.</li>
        <li>High quality assessment, diagnosis and treatment.</li>
        <li>Offering specialized patient services and pharmaceuticals</li>
      </ul>
    </div>
  </div>
  <div class="help_img w-50"></div>
</section>

<section class="offer d-flex">
  <div class="offer_img"></div>
  <div class="offer_details pl-5 ml-5 py-5">
    <h2>What we offer</h2>
    <div class="offer_list d-flex py-4">
      <div class="w-50">
        <h3>Blood product</h3>
        <ul class="list-unstyled">
          <li>Red Blood Cells</li>
          <li>Plasma Products</li>
          <li>Platelet Product</li>
          <li>Blood Products for Research</li>
          <li>Whole Blood</li>
        </ul>
      </div>
      <div class="w-50">
        <h3>Biomedical Services</h3>
        <ul class="list-unstyled">
          <li>Blood and Diagnostic testing</li>
          <li>Blood group serology</li>
          <li>HLA testing</li>
          <li>Immunohematology Reference lab testing</li>
          <li>Molecular testing</li>
          <li>Neutrophil testing</li>
          <li>Infectious disease testing
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="call-us py-5">
    <div class="call-layout container py-5 text-white">
        <div class="row">
            <div class="col-8">
                <h2 class="my-3">Call us (204) 486-6548</h2>
                <p class="my-3 mx-4">or click the link below to book your appointment</p>
                <a href="#" class="btn btn-danger font-weight-bold p-4 my-3">Make an Appointment</a>
            </div>
        </div>
    </div>
</section>
