<header>
    <div>
      <div class='float-left'><img class='img-fluid' src='../../../assets/images/logo.png' alt='logo' /></div>
      <div class='float-right m-5'>
        <a class='bg-danger text-white text-decoration-none font-weight-bold rounded py-3 px-5 mx-5'
        routerLink='register'>Sign Up</a>
        <a class='bg-danger text-white text-decoration-none font-weight-bold rounded py-3 px-5'
        routerLink='login'>Login</a>
      </div>
      <div class='clearfix'></div>
    </div>

    <nav class='navbar navbar-expand-lg navbar-light px-0 mx-0 '>
      <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>

      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav mr-auto'>
          <li class='nav-item active'>
            <a class='nav-link' routerLink="home">home</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' routerLink="about">about</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' routerLink="register">donor registeration</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' routerLink="request-blood">send request</a>

          </li>
          <li class='nav-item'>
            <a class='nav-link' routerLink="view-requests">view request</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' routerLink="camps">camps</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' routerLink="login">login</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' routerLink="search">search</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' routerLink="contact-us">contact us</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>