<section id="Login">
  <div class="row ">
    <div class="col d-flex justify-content-center align-items-center">
      <div class="container w-50  text-center p-5 ">
        <h2 class="text-center">Welcome</h2>
        <img src="../../assets/images/save-blood-concept_1017-19259.jpg" id="userimg"
          class="img-thumbnail img-fluid rounded-circle" style="width: 75px; height: 75px;" alt="">
        <form class="form-group" method="post" action="logindb.php">
          <label>User Name:</label>
          <input type="Text" name="" value="" class="form-control" placeholder="Enter Your User Name">
          <label>Password:</label>
          <input type="password" name="" value="" class="form-control"
            placeholder="Please Note That Password is Casesensitive"><br>
          <button type="submit" name="" id="" class="btn btn-danger text-center">Log In</button>
        </form>
      </div>
    </div>
  </div>
</section>
