<!-- View Cards Section -->

<section class="view-request py-5">
  <div class="container py-5">
    <div class="row">

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card bg-white text-dark mb-3 mx-auto" style="max-width: 20rem;">
          <div class="card-header">
            <h4>Name: <span>Ahmed Zaki</span></h4>
            <h4>Group Blood: <span>A+</span></h4>
          </div>
          <div class="card-body">
            <h4>Gender: <span>Male</span></h4>
            <h4>Mobile No. : <span>+20122654765</span></h4>
            <h4>Email: <span>ahmed@gmail.com</span></h4>
            <h4>Till: Required Data <span>2019-09-23</span></h4>

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card bg-white text-dark mb-3 mx-auto" style="max-width: 20rem;">
          <div class="card-header">
            <h4>Name: <span>Ahmed Zaki</span></h4>
            <h4>Group Blood: <span>A+</span></h4>
          </div>
          <div class="card-body">
            <h4>Gender: <span>Male</span></h4>
            <h4>Mobile No. : <span>+20122654765</span></h4>
            <h4>Email: <span>ahmed@gmail.com</span></h4>
            <h4>Till: Required Data <span>2019-09-23</span></h4>

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card bg-white text-dark mb-3 mx-auto" style="max-width: 20rem;">
          <div class="card-header">
            <h4>Name: <span>Ahmed Zaki</span></h4>
            <h4>Group Blood: <span>A+</span></h4>
          </div>
          <div class="card-body">
            <h4>Gender: <span>Male</span></h4>
            <h4>Mobile No. : <span>+20122654765</span></h4>
            <h4>Email: <span>ahmed@gmail.com</span></h4>
            <h4>Till: Required Data <span>2019-09-23</span></h4>

          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card bg-white text-dark mb-3 mx-auto" style="max-width: 20rem;">
          <div class="card-header">
            <h4>Name: <span>Ahmed Zaki</span></h4>
            <h4>Group Blood: <span>A+</span></h4>
          </div>
          <div class="card-body">
            <h4>Gender: <span>Male</span></h4>
            <h4>Mobile No. : <span>+20122654765</span></h4>
            <h4>Email: <span>ahmed@gmail.com</span></h4>
            <h4>Till: Required Data <span>2019-09-23</span></h4>

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">

        <div class="card bg-white text-dark mb-3 mx-auto" style="max-width: 20rem;">
          <div class="card-header">
            <h4>Name: <span>Ahmed Zaki</span></h4>
            <h4>Group Blood: <span>A+</span></h4>
          </div>
          <div class="card-body">
            <h4>Gender: <span>Male</span></h4>
            <h4>Mobile No. : <span>+20122654765</span></h4>
            <h4>Email: <span>ahmed@gmail.com</span></h4>
            <h4>Till: Required Data <span>2019-09-23</span></h4>

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card bg-white text-dark mb-3 mx-auto" style="max-width: 20rem;">
          <div class="card-header">
            <h4>Name: <span>Ahmed Zaki</span></h4>
            <h4>Group Blood: <span>A+</span></h4>
          </div>
          <div class="card-body">
            <h4>Gender: <span>Male</span></h4>
            <h4>Mobile No. : <span>+20122654765</span></h4>
            <h4>Email: <span>ahmed@gmail.com</span></h4>
            <h4>Till: Required Data <span>2019-09-23</span></h4>

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card bg-white text-dark mb-3 mx-auto" style="max-width: 20rem;">
          <div class="card-header">
            <h4>Name: <span>Ahmed Zaki</span></h4>
            <h4>Group Blood: <span>A+</span></h4>
          </div>
          <div class="card-body">
            <h4>Gender: <span>Male</span></h4>
            <h4>Mobile No. : <span>+20122654765</span></h4>
            <h4>Email: <span>ahmed@gmail.com</span></h4>
            <h4>Till: Required Data <span>2019-09-23</span></h4>

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card bg-white text-dark mb-3 mx-auto" style="max-width: 20rem;">
          <div class="card-header">
            <h4>Name: <span>Ahmed Zaki</span></h4>
            <h4>Group Blood: <span>A+</span></h4>
          </div>
          <div class="card-body">
            <h4>Gender: <span>Male</span></h4>
            <h4>Mobile No. : <span>+20122654765</span></h4>
            <h4>Email: <span>ahmed@gmail.com</span></h4>
            <h4>Till Required Data: <span>2019-09-23</span></h4>

          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<!-- End View Cards Section -->
