/* You can add global styles to this file, and also import other style files */

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css";


.row {
  padding-right: 0 !important;
  padding-left: 0 !important; 
  margin: auto;
}
