<section class="section1 d-flex  align-items-center">
    <div class="container">
      <div class="row ">
        <div class="col-md-8 text-white caption">
          <h1 class=" font-weight-bolder py-4">Your blood donation mater. Give Today! </h1>
          <p class="font-weight-bold pb-3"> All types of blood are needed to help the patients </p>
          <button class=" btn btn-danger rounded-0 p-4"> Make an Appointment </button>
        </div>
      </div>
    </div>
  </section>

  <section class="py-3 section2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6  col-sm-12">
          <img class="img-fluid" src="../../assets/images/section2.jpg" alt="Kid photo" title="Donates" />
        </div>
        <div class="col-lg-6 p-5 mt-5  col-sm-12 ">
          <p class="text-uppercase text-primary "> Make An Impact </p>
          <h2 class="font-weight-bolder  position-relative w-50 "> Who We Are</h2>
          <p class=" w-75 my-4 pt-3 "> Your financial gift can <span class="text-primary ">help a thousand children
            </span> who struggle from illnesses.
            Your gift can provide the necessary medicine, treatment, and other essentials. </p>
          <button class="btn btn-danger text-uppercase rounded-0 py-3 px-5 "> donate now </button>
        </div>
      </div>
    </div>
  </section>

  <section class="section3 ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center ">
          <p class="text-primary text-uppercase"> get involved </p>
          <h2 class="font-weight-bold position-relative "> Ways to help </h2>
        </div>
        <div class="col-xl-4 col-lg-6 mt-4 d-flex justify-content-center">
          <div class="layer position-relative ">
            <img src="../../assets/images/section3-1.jpg" class=" img-fluid" alt=" Donate Blood ">
            <div class="position-absolute text-white ">
              <h3> Donate Blood </h3>
              <p class="py-1 ">Donate blood today. Help save lives.</p>
              <button class="btn btn-danger rounded-0 px-5 py-3"> Learn More </button>

            </div>
          </div>
        </div>
        <div class=" col-xl-4 col-lg-6 mt-4 d-flex justify-content-center">
          <div class="layer position-relative">
            <img src="../../assets/images/section3-2.jpg" class=" img-fluid" alt=" Volunteer Team ">
            <div class="position-absolute text-white ">
              <h3> Volunteer Team </h3>
              <p class="py-1 ">We are always looking for your help.</p>
              <button class="btn btn-danger rounded-0 px-5 py-3"> Become a voulanteer </button>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 mt-4 d-flex justify-content-center">
          <div class="layer position-relative">
            <img src="../../assets/images/section3-3.jpg" class=" img-fluid" alt=" Donate Money ">
            <div class="position-absolute text-white ">
              <h3> Donate Money</h3>
              <p class="py-1 ">Your financial gift can help people who need it most.</p>
              <button class="btn btn-danger rounded-0 px-5 py-3"> Learn More </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section4">
    <div class="container-fluid p-3">
      <div class="row">
        <div class="col-xl-6 col-lg-12  px-5 overflow-auto ">
          <p class="text-uppercase text-primary p-0 m-0 "> make an impact </p>
          <h2 class="font-weight-bolder  position-relative "> ways to help </h2>
          <p class="text-muted w-75 pt-3"> Blood Center is public donation center with blood donation members in the
            changing
            health care system. Founded in 1978, Blood Center is one of the nation’s oldest and largest nonprofit
            transfusion medicine organizations. We provide a blood and volunteer services across the US. With our
            national footprint, deep community roots and specialized services, we are the thread that connects people
            and resources together to fuel progress in transfusion medicine.
          </p>

          <div class="px-2 col-md-6 float-left ">
            <ul class="list-unstyled text-muted ">
              <li class=" position-relative p-1">
                <p class="px-3 "> Inspiring people to give blood</p>
              </li>
              <li class=" position-relative p-1">
                <p class="px-3 ">Specialist blood donors and clinical supervision.</p>
              </li>
              <li class=" position-relative p-1">
                <p class="px-3 "> Producing a safe and ready blood supply</p>
              </li>
            </ul>
          </div>
          <div class="px-2 col-md-6 float-left">
            <ul class="list-unstyled text-muted ">
              <li class=" position-relative p-1">
                <p class="px-3 "> Increasing communication with our members.</p>
              </li>
              <li class=" position-relative p-1">
                <p class="px-3 ">High quality assessment, diagnosis and treatment.</p>
              </li>
              <li class=" position-relative p-1">
                <p class="px-3 "> Offering specialized patient services and pharmaceuticals </p>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-xl-6 col-lg-12 py-3  text-center ">
          <img src="../../assets/images/section4.jpg" alt=" Ways to help " title="ways to help " class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  <section class="section5">
    <div class="container-fluid p-4">
      <div class="row ">

        <div class="col-xl-4 col-md-12 p-2 position-relative item d-flex justify-content-center">
          <img src="../../assets/images/section5-1.jpg" alt="Donations Location" class="img-fluid ">
          <div class="caption text-white  px-5 position-absolute">
            <h3 class=" py-3 "> Donation Location </h3>
            <button type="button" class=" btn-white rounded-0 px-4 py-2 "> Learn more </button>
          </div>
        </div>

        <div class="col-xl-4 col-md-12 p-2 position-relative item  d-flex justify-content-center ">
          <img src="../../assets/images/section5-2.jpg" alt="Donations Location" class="img-fluid">
          <div class="caption text-white  px-5 position-absolute">
            <h3 class=" py-3 "> Eligibility Requirements </h3>
            <button type="button" class=" btn-white rounded-0 px-4 py-2 "> Learn more </button>
          </div>
        </div>

        <div class="col-xl-4 col-md-12  p-2 position-relative item  d-flex justify-content-center ">
          <img src="../../assets/images/section5-3.jpg" alt="Donations Location" class="img-fluid  ">
          <div class="caption text-white  px-5 position-absolute">
            <h3 class=" py-3 ">The Donation Process </h3>
            <button type="button" class=" btn-white rounded-0 px-4 py-2 "> Learn more </button>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="section6">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-12 position-relative  d-flex justify-content-center ">
          <img src="../../assets/images/section6.jpg" alt="Donation Campaign" title="Donation Campaign" class="img-fluid">
          <div class=" caption text-white  p-4 position-absolute ">
            <h3 class=" position-relative py-3 "> Donation Campagin </h3>
            <p>Campaigns to encourage new donors to join and existing to continue to give blood. </p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12 px-5 ">
          <h2 class=""> World Blood Donors Day </h2>
          <p class="text-muted w-75 "> Every year, on 14 June, countries around the world celebrate World Blood Donor
            Day.
            The event serves to raise awareness of the need for safe blood and blood products and to thank blood donors
            for their life-saving gifts of blood.</p>
          <div class="col-md-6 icons pt-3 float-left">
            <div class="text-muted overflow-auto">
              <i class="far fa-map pr-2 float-left"></i>
              <p class="text-muted float-left pt-2"> Location : </p>
              <div class="clearfix"></div>
              <p class="w-100">Transport ltd. inc. 300, Pennsylvania Ave NW, Washington</p>
            </div>


            <div class="text-muted overflow-auto">
              <i class="far fa-calendar-alt float-left pr-2"></i>
              <p class="text-muted float-left pt-2"> Date : </p>
              <div class="clearfix"></div>
              <p class="w-100">14 June 2019</p>
            </div>


            <div class="text-muted overflow-auto">
              <i class="far fa-clock float-left pr-2"></i>
              <p class="text-muted float-left pt-2"> Time : </p>
              <div class="clearfix"></div>
              <p class="w-100">9:00 am - 8:00 pm</p>
            </div>

          </div>
          <div class="col-md-6 float-left  p-3 mt-3">
            <h4> Register Today </h4>
            <input type="text" class="form-control mt-2" placeholder="your Name *" id="uName">
            <input type="email" placeholder=" E-mail*" class="form-control mt-2 " required id="uEmail">
            <input type="tel" placeholder="Phone*" class="form-control mt-2" id="uPhone">
            <button type="submit" class="btn btn-danger rounded-0 px-3 py-4 mt-3" id="btn">Make an Appointment </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="my-3 section7 ">
    <div class="container ">
      <div class="row">
        <div class="col-xl-4 col-md-12 p-3">
          <div class=" pt-3  px-3 item ">
            <i class="fas fa-quote-left"></i>
            <p class="w-100 text-muted"> People here are friendly every time! Very thorough. Always checking on you to
              make sure you are ok. </p>
            <p class="Name position-relative">ANDY SIMPSON </p>
            <div class="clearfix "></div>
          </div>
        </div>
        <div class="col-xl-4 col-md-12 p-3">
          <div class=" pt-3  px-3 item ">
            <i class="fas fa-quote-left"></i>
            <p class="w-100 text-muted"> Just finished donating platelets for the first time in my life and I'm so happy
              I did! I will gladly donate...</p>
            <p class="Name position-relative">KRISTY KORTNY </p>
            <div class="clearfix "></div>
          </div>
        </div>

        <div class="col-xl-4 col-md-12 p-3">
          <div class=" pt-3  px-3 item ">
            <i class="fas fa-quote-left"></i>
            <p class="w-100 text-muted"> Cool - blood goes from one arm, thru a machine, back into other arm. Able to
              split my donation and go far!</p>
            <p class="Name position-relative">BARBARA WILKIRSON </p>
            <div class="clearfix "></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section8 mt-3 ">
    <div class="container py-5">
      <div class="row py-5 ">
        <div class="col-md-8 ">
          <h3 class="position-relative pt-2 "> Become a Blood Donor </h3>
          <p class=" pt-2 ">All types of blood are needed to help patients </p>
          <button class="btn btn-danger rounded-0 px-4 py-4 mt-3"> Schedule Appointment </button>
        </div>
      </div>
    </div>
  </section>
