
  <footer>
    <div id='footer' class='text-center p-3 '>
      <div>
        <ul class='text-uppercase'>
          <li><a href='home.html'>home</a></li>
          <li><a href='pages/register.html'>donor</a></li>
          <li><a href='pages/login.html'>login</a></li>
          <li><a href='pages/about.html'>about</a></li>
          <li><a href='pages/contactUs.html'>contact us</a></li>
        </ul>
      </div>
      <div id='social-icons'>
        <i class='fab fa-twitter fa-2x text-white m-2'></i>
        <i class='fab fa-facebook-f fa-2x text-white m-2'></i>
        <i class='fab fa-youtube fa-2x text-white m-2'></i>
        <i class='fab fa-instagram fa-2x text-white m-2'></i>
        <i class='fab fa-google-plus-g fa-2x text-white m-2'></i>
        <i class='fab fa-behance fa-2x text-white m-2'></i>
      </div>
    </div>
  </footer>